// WebComponent: PatreonBox {{ package.version }} - Collection of WebComponents by Patryk Rzucidlo [@PTKDev] <support@ptkdev.io>
// https://github.com/ptkdev-components/webcomponent-patreon-box
(function() { {% include "./js/patreon-box.js" %} })();